@use 'vars';

.hero {
    background-image: url(../images/banner.jpg);
    background-size: cover;
    min-height: 100vh;

    padding: 5.5vw;

    &__content {

        &__logo {
            padding-bottom: 8.5em;
            
            .title--lg {
                font-size: 4em;
                letter-spacing: 1px;
                margin-bottom: 0px;
                color: rgba(vars.$titleColor, .75);
            }
                    
            .text {
                line-height: 28px;
            }
        }

        &__ratings {

            &__rating {
                
                .text--lg {
                    display: inline;
                    vertical-align: top;
                }

                img {
                    height: 30px;
                    margin-right: 8px;
                }
            }
        }

        .text--tag {

            &::before {
                content: '';
            }
        }
    }
}