@use 'vars';

.plot {
    padding: 4vw 5.5vw;

    &__contents {
        display: flex;
        justify-content: space-between;

        &__image {
            padding-right: 24px;

            img {
                max-width: 55vw;
            }
        }

        &__content {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            margin-bottom: 48px;
        }
    }
}