@use 'vars';

.plot {
    padding: 5vw 5.5vw;

    &__contents {
        display: flex;
        justify-content: space-between;

        @media (max-width: 768px) {
            display: block;
        }

        &__image {
            padding-right: 24px;

            img {
                max-width: 55vw;

                @media (max-width: 768px) {
                    max-width: 100%;
                    margin: 0 auto;
                }
            }
        }

        &__content {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            @media (max-width: 768px) {
                display: block;
            }
                        
            &__block {
                @media (max-width: 768px) {
                    margin-bottom: 16px;
                }
            }
        }
    }
}

// .nominations__list {
//     &__item {
//         margin-bottom: 8px;
//         list-style-type: disc;
//         margin-left: 22px;

//         span {
//             font-size: 1em;
//         }

//         .nom::after {
//             content: 'indicado';
//             font-size: 0.75em;
//             padding: 0px 1px;
//             margin-left: 8px;
//             border-radius: 4px;
//             background-color: #bbb;
//             color: vars.$bgColor;
//         }

//         .win::after {
//             content: 'premiado';
//             font-size: 0.75em;
//             padding: 0px 1px;
//             margin-left: 8px;
//             border-radius: 4px;
//             background-color: vars.$titleColor;
//             color: vars.$textColor;
//         }
//     }
// }