
@font-face {
    font-family: Granville;
    font-weight: 400;
    src: url('../../assets/fonts/fonnts.com-Granville.otf');
}

body {
    background-color: coral;
}

h1 {
    font-family: Granville, sans-serif;
    font-size: 88px;
}